.container {
  @apply px-2;
  @apply h-full w-full;
}

.sections {
  @apply h-full;
  @apply overflow-y-auto;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.sections::-webkit-scrollbar {
  display: none;
}
